---
http_interactions:
  - request:
      method: post
      uri: https://verify.twilio.com/v2/Services/53rv1c3/VerificationCheck
      body:
        encoding: UTF-8
        string: Code=288720&To=%2B12345678901
      headers:
        Content-Type:
          - application/x-www-form-urlencoded
        Authorization:
          - <AUTHORIZATION>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Twilio-Request-Id:
          - RQ310f3c10621bf6dde72ad062bf0734b1
        Twilio-Request-Duration:
          - "0.038"
        Twilio-Concurrent-Requests:
          - "1"
        X-Shenanigans:
          - none
        X-Home-Region:
          - us1
        X-Api-Domain:
          - verify.twilio.com
      body:
        encoding: UTF-8
        string:
          '{"status": "approved", "payee": null, "date_updated": "2024-12-03T18:51:34Z",
          "account_sid": "<ACCOUNT_SID>", "to": "+12345678901",
          "amount": null, "valid": true, "sid": "VE2c004e4f012df55b9871f671fc49356a",
          "date_created": "2024-12-03T18:51:10Z", "service_sid": "53rv1c3",
          "channel": "sms"}'
    recorded_at: Tue, 03 Dec 2024 18:51:34 GMT
recorded_with: VCR 6.3.1
