---
http_interactions:
  - request:
      method: post
      uri: https://api.twitter.com/oauth/request_token
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/x-www-form-urlencoded
        Authorization:
          - "<AUTHORIZATION>"
    response:
      status:
        code: 401
        message: Unauthorized
      headers:
        Perf:
          - "7402827104"
        Status:
          - 401 Unauthorized
        Content-Type:
          - application/json; charset=utf-8
        Last-Modified:
          - Wed, 05 Feb 2025 20:00:12 GMT
        X-Transaction:
          - 2a4986e6970c7484
        Www-Authenticate:
          - OAuth realm="https://api.twitter.com", api_error_code=32
        X-Transaction-Id:
          - 2a4986e6970c7484
        Content-Disposition:
          - attachment; filename=json.json
        X-Twitter-Response-Tags:
          - BouncerCompliant
        X-Response-Time:
          - "6"
        X-Connection-Hash:
          - 615f3041201150b239528f029c29bfbd391f3f5901c4854b903e7047086ff94f
      body:
        encoding: ASCII-8BIT
        string: '{"errors":[{"code":32,"message":"Could not authenticate you."}]}'
    recorded_at: Wed, 05 Feb 2025 20:00:12 GMT
recorded_with: VCR 6.3.1
