/.git/
/.gitignore

/.bundle

/.env*

/config/master.key
/config/credentials/*.key

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/tmp/pids/*
!/tmp/pids/.keep

/public/assets
/public/vite*
/node_modules/

/.github

/.dockerignore
/Dockerfile*
/compose.yml
